$font-family: 				"Roboto", sans-serif;

$base-yellow: 				#fec700;
$base-grey: 					#333132;
$base-grey-light:   	#4d4d4f;
$base-grey-lighter: 	#efeeee;
$base-white: 					#ffffff;

$nav-black: 					#231f20;

$overlay-black: 			rgba(0,0,0,0.7);

$footer-grey: 				#3b3b3c;
$footer-grey-light: 	#464547;

$border-grey: 				#aaaaaa;
$line-grey: 					rgba(255,255,255,0.5);

$btn-grey: 						#2d2d2d;
$btn-green: 					#56af8f;
$btn-disabled: 				#e9a97f;