.video{
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
	&.wide{
		@include mq($tab){
			padding-bottom: 40.85%;
		}
	}
	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}
}