body{
	font-family: $font-family;
}
h1{
	font-size: 1.75em;
	margin: 0 auto;
	padding: 0.66em 0;
	text-transform: uppercase;
	@include mq($tab){
		font-size: 2.25em;
	}
	@include mq($desk){
		font-size: 2.75em;
	}
}
h2{
	font-size: 1.13em;
	margin: 0 auto;
	padding: 0.83em 0 0;
	text-transform: uppercase;
	@include mq($tab){
		font-size: 1.25em;
	}
	@include mq($desk){
		font-size: 1.5em;
	}
}
p{
	font-size: 1em;
	line-height: 1.63em;
	@include mq($tab){
		font-size: 1.13em;
	}
	&.small{
		margin: 0.5em 0;
		font-size: 0.88em;
		@include mq($desk){
			font-size: 1em;
		}
	}
	&:last-child{
		margin-bottom: 0;
	}
	h1 + &, h2 + &{
		margin-top: 0;
	}
}
a{
	color: inherit;
}
input{
	font-family: $font-family;
}